* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1vw;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 7rem;
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.logo {
    height: 5vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 12%;
    padding-right: 100%;
    position: fixed;
    background-color: black;
    gap: 40rem;
    z-index: 100;
}

.main-text {
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translateY(-50%);
}

.main-text h1 {
    font-size: 7.5rem;
    color: white;
    font-weight: 800;
    line-height: 170px;
}

span {
    position: relative;
    color: white;
    letter-spacing: 2px;
    z-index: 1;
    font-size: 7rem;
}

.main-img {
    position: relative;
    text-align: right;
    top: 15vh;
    z-index: 1;
}

.main-img img {
    width: 35%;
    height: 80%;
    border-radius: 50%;
}

.button {
    top: 9rem;
    position: relative;
    width: 10rem;
    background-color: #803dff;
    padding: 12px 10px;
    border: none;
    color: white;
    font-size: 1rem;
    letter-spacing: .15rem;
    border-radius: 8%;
    transition: 0s;
    cursor: pointer;
    transition: width .4s;
}

.button img {
    width: 35px;
    display: none;
}

.button:hover img {
    display: block;
}

.button:hover {
    display: flex;
    width: 10.5rem;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.button .input {
    color: white;
}

.flex-container {
    padding-right: 100%;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}

.flex-container .item {
    display: block;
    min-height: 2rem;
    flex: content;
}

.flex-container .hidden {
    display: block;
    min-height: 2rem;
    flex: content;
    display: none;
}

.flex-container .item a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.flex-container .item:hover a {
    font-size: 2.3rem;
    color: #803dff;
    transition: 1s;
}

.resume {
    text-decoration: none;
}

.article {
    padding: 2vh;
    background: black;
    overflow: hidden;
}

.container img {
    width: 100%;
    border-radius: 1rem;
    height: 22rem;
    object-fit: cover;
}

#container1 {
    max-width: 21.4rem;
    margin: 0 auto;
    margin-top: 3vh;
}

#container1:hover {
    max-width: 22.4rem;
}


.container {
    max-width: 21.4rem;
    margin: 1rem 3rem;
    margin-top: 2vh;
    padding-top: 5vh;
    padding-bottom: 10vh;
    transform: scale(1);
    transition: transform 250ms;
    height: 100%;
}

.container:hover {
    transform: scale(1.1);
}

.card {
    background-color: white;
    border: 1px solid red;
    padding: .56rem;
    border-radius: 1rem;
}

.tag {
    padding: 4px 8px;
    border: 1px solid red;
    border-radius: 3rem;
    font-weight: 600;
    font-size: 1rem;
    color: black;
}

.name {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.2rem;
}

.name p {
    background-color: white;
    font-size: 1rem;
    color: black;
    line-height: 150%;
}

.card_details {
    background-color: white;
    padding: 1rem .5rem .5rem .5rem;
}

.random {
    position: absolute;
    left: 46rem;
}

.cards {
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: .1rem;
}

#AboutMe h1 {
    font-size: 6rem;
    color: white;
    text-align: center;
}

#MySkills h1 {
    font-size: 6rem;
    color: white;
    text-align: center;
}

#ContactMe {
    background-color: black;
    padding-bottom: 2rem;
}

#ContactMe h1 {
    font-size: 6rem;
    color: white;
    text-align: center;
}

form {
    text-align: center;
    padding-top: 3rem;
    border: .3rem solid red;
    margin: 1rem 26rem .5rem 24rem;
    box-shadow: .3rem .3rem white;
}

#form p {
    padding-top: 3rem;
}

label,
input {
    color: white;
    background-color: transparent;
    height: 3rem;
    text-align: center;
    width: 35rem;
    font-size: 2rem;
}

textarea {
    background-color: transparent;
    resize: none;
    width: 25rem;
    height: 20rem;
    color: white;
    font-size: 2rem;
}

#but {
    margin-top: 1vh;
    width: 8rem;
}